@using Azure.Core
@model StructureApp.Models.Folder

<h1>"Folder" - @Model.Name</h1>

<ul style="list-style-type: none;">
    @foreach (var folder in Model.ChildFolders)
    {
        <li>
            <a href="@ViewBag.Url/@folder.Name">
                @folder.Name
            </a>
        </li>
    }
</ul>

<form method="post" action="/Folder/Import" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Import structure" />
</form>